<%= render 'layouts/message' %>
<% if @stock %>
  <div class="well">
    Name: <%= @stock.name %><br/>
    Symbol: <%= @stock.ticker %><br/>
    Last price: <%= @stock.last_price %><br/>
  </div>
<% end %>
